<!DOCTYPE html>
<html>
<head>
  <title>UV Info by Location</title>
</head>
<body>
  <!-- header -->
    <%- include('partials/header.ejs') %>
  <!-- end of header -->

  <!-- uv location button -->
    <div class="container">
  <h1 class="white">UV Index Checker</h1>
  <button class="button" onclick="getLocation()">Get My UV Info</button>

  <form id="locationForm" action="/uv" method="POST" style="display: none;">
    <input type="hidden" name="lat" id="lat">
    <input type="hidden" name="lng" id="lng">
  </form>
 <!-- end uv location button -->

  <!-- location access -->
  <script>
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
          document.getElementById("lat").value = position.coords.latitude;
          document.getElementById("lng").value = position.coords.longitude;
          document.getElementById("locationForm").submit();
        }, (err) => {
          alert("Location access denied or unavailable.");
        });
      } else {
        alert("Geolocation is not supported by your browser.");
      }
    }
  </script>
  <!-- end of location access -->
</div>

<!-- footer -->
<%- include('partials/footer.ejs') %>
<!-- end of footer -->
</body>
</html>
